.p-detail{
    display: grid;
    grid-template-columns: 1fr;
    /* min-height: 809px; */
    background-color: white;
    border-radius: 7px;
    padding: 1% 1.5% 0 1.5%;
}
.editCase{
    display: flex;
    gap: 10px;
}
.edit{
    border: 2px solid #D0D5DD;
    padding: 3px 7px;
    border-radius: 4px;
    font-size: 16px;
    color: #5D6679;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.image-icon{
    height: 16px;
    width: 16px;
}
.detail{
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    margin: 4% 0;
    font-size: 14px;
    color: #858D9D;
    font-weight: 500;
}
.detailsValue{
    color: #5D6679;
    font-weight: 500;
}
.primaryDetails{
    display: grid;
    grid-template-columns: 60% 30%;
    padding: 10px 40px;
    align-items: center;
}
.prTopic{
    font-size: 16px;
    font-weight: 600;
}
.overviewT{
    font-size: 16px;
    font-weight: 400;
    color: #48505E;
}
.image_border{
    border:2px dashed #9D9D9D ;
    min-height: 350px;
    max-height: 370px;
    min-width: 274px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}
.hor{
    height: 0.5px;
    margin-top: 20px;
    background-color: #48505E;
}