.Container {
    display: flex;
    height: 100vh; 
}

.sidebar.open {
    width: 200px;
    background-color: #ffff;
    padding: 15px;
    transition: width 0.5s ease;
}

.sidebar.closed {
    width: 100px;
    background-color: #ffff;
    padding: 16px;
    transition: width 0.5s ease;
}

.mainContent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px;
    height: 60px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.bars {
    cursor: pointer;
}

.Active .header h2 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.page-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #F0F1F3;
    overflow-y: auto;
}

.link {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
}

.link.active {
    color: #1570EF;
}
.link_text{
    font-size: 18px;
}
.link_text.show {
    display: block;
}

.link_text.hide {
    display: none;
}

.IconWithName {
    display: flex;
    align-items: center;
    width: 100%;
    &:hover{
        background-color: #d2f0fc;
    }
}

.icon.notcenter {
    margin-right: 15px;
    margin-left: 15px;
}
.icon{
    font-size: 15px;
}
.icon.center{
    margin-left: 10px;
}

.menu-section {
    flex-grow: 1;
    padding-bottom: 250px;
}
.bottom-section{
    flex-grow: 1;
}
.logo {
    display: flex;
    align-items: center;
}

.logoText.show {
    font-size: 25px;
    color: #097971;
    margin-top: 5%;
}

.logoText.hide {
    display: none;
}
