/* Popup.css */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background: white;
    border-radius: 8px;
    padding: 20px;
    width: 60%;
    min-width: 200px;
    max-height: 700px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
  }
  .popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .size{
    width: 37%;
  }
  .close-button {
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .popup-body {
    margin-top: 10px;
  }
  .popupTitle{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
  }